

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>This is Home Controller and Index View</h1>
    </div>
    <div>
        <a href="/home/aboutus">Home-About us</a> <br>
        <a href="/employee/aboutus">Employee-About us</a> <br>
        <a href="/employee/Index">Employee-Index</a> <br>
    </div>
</body>
</html>
